<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Movies</title>
</head>
<body>
    <div class="container">
        <h1>Available Videos</h1>
        <ul class="videos">
            {% for video in videos %}
                {% if query is not defined or query.lower() in video.title.lower() %}
                    <li class="video">
                        <a href="/watch/{{ video.path }}">
                            <img src="{{ url_for('static', filename=video.thumbnail) }}" alt="{{ video.title }}">
                        </a>
                        <div class="video-info">
                            <h2 class="video-title">{{ video.title }}</h2>
                            <p class="video-description">{{ video.description }}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>